<!-- Estilo -->
   a:visited { color: #FFFF00}
   a:hover   { text-decoration: underline }
   a         { color: #00FF00; text-decoration: none }
   pre       { font-size        : 12px;
               font-family      : monospace;
               font-weight      : normal;
               font-style       : normal;
               color            : #00BB00;
             }
   img       {
               border : 0px;
             }
   b         { font-size        : 12px;
               font-family      : monospace;
               font-weight      : normal;
               font-style       : normal;
               color            : #00FF00;
             }
   body      { color            : #00BB00;
               font-family      : arial,helvetica,sans-serif;
			   background-color : black
             }
   td        { color       : #00BB00;
               font-family : arial,helvetica,sans-serif;
               font-size   : 11px
             }
   th        { color       : #00FF00;
               font-family : arial,helvetica,sans-serif;
               font-size   : 11px
             }
   p         { color       : #00BB00;
               font-family : arial,helvetica,sans-serif;
             }
   h1        { font-size   : 20px;
               font-family : monospace;
               font-weight : bold;
               font-style  : normal;
               color       : #00FF00;
               text-align : center;
             }

